/* Simple CSS for my website */
html {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

#content-top, #content-bottom {
    display: block;
    max-width: 80%;
    overflow: hidden;
}

#main-left {
    float: left;
    width: 49%;
}

#main-right {
    float: right;
    width: 49%;
}

img {
    width: 200px;
}

table, th, tr, td {
    border: 1px solid black;
}